.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;

  width: 100%;
  height: auto;
  aspect-ratio: 1 / 1.1;
  border-radius: 0.5em;
  overflow: hidden;

  background-color: var(--bg-dark-color);
  color: var(--text-color);
  text-decoration: none;

  transition: box-shadow 0.3s ease, transform 0.3s ease;

  &:hover {
    box-shadow: var(--shadow);
  }
}

.imageContainer {
  width: 100%;
  min-height: 40%;
  background-color: #ccc;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.textsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5em;

  p {
    text-align: center;
    padding: 0 1em;
  }
}
