.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;

  width: 100%;
  max-width: 15em;
  height: max-content;
  border-radius: 0.5em;
  overflow: hidden;

  background-color: var(--bg-dark-color);
  color: var(--text-color);
  text-decoration: none;

  transition: box-shadow 0.3s ease, transform 0.3s ease;

  &:hover {
    box-shadow: var(--shadow);
    transform: translateY(-0.3em) scale(1.02);
  }
}

.imageContainer {
  width: 100%;
  height: 8em;
  background-color: #ccc;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.textsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  margin-bottom: 2em;

  height: max-content;

  p {
    text-align: center;
    padding: 0 1em;
  }
}
