.container,
.mobileHeader {
  width: 100%;
  height: var(--header-height);

  position: sticky;
  top: 0;
  left: 0;
  z-index: 1000;

  background-color: rgba(204, 204, 204, 0.2);
  border-bottom: 1px solid #ccc;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;

  padding: 0 var(--side-padding);
}

.button {
  height: 100%;
  width: 100%;
  max-width: 12em;
  margin: 0;

  text-align: center;
  color: var(--text-color);
  font-family: var(--text-font);

  background-color: transparent;
  border: none;

  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;

  &:hover {
    background-color: rgba(204, 204, 204, 0.1);
    color: var(--accent-color);
  }

  &.active {
    background-color: rgba(143, 148, 180, 0.4);
    color: var(--text-color);
  }
}

.label {
  font-size: 1.5em;
  font-weight: 500;
  letter-spacing: 0.05em;
}

.mobileHeader {
  justify-content: flex-end;
}

.toggleButton {
  z-index: 9001;
  background-color: transparent;
  border: none;
}
