.container {
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
}

.burgerIcon {
  width: 2em;
  height: 2em;
  cursor: pointer;

  position: fixed;
  top: 1.75em;
  right: 1.75em;

  z-index: 10;
}

.nav {
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;

  background-color: var(--color-background-secondary);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;

  transition: right 0.3s ease-in-out;

  .navButton {
    pointer-events: none;

    font-size: 1.5em;
    font-weight: bold;
    color: var(--color-text);
    background-color: transparent;
    border: none;
    cursor: pointer;

    transition: color 0.3s ease;

    &:hover {
      color: var(--color-accent);
    }
  }
}
