.container {
  min-height: var(--content-min-height);

  display: flex;
  flex-direction: column;
  gap: 2em;

  padding: 4em 2em;
}

.titleContainer {
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;

  @media (max-width: 800px) {
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5em;
  }
}

.title > h2 {
  font-size: 2em;
  font-weight: bold;
}

.title > p {
  font-size: 1em;
  color: var(--color-text-secondary);
}

.titleContainer > a {
  font-size: 1em;
  font-weight: bold;
  color: var(--color-accent);
  text-decoration: none;
  position: relative;
  transition: color 0.3s ease;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 2px;
    background-color: var(--color-primary);
    transition: width 0.3s ease;
  }

  &:hover {
    color: var(--color-primary);

    &::after {
      width: 100%;
    }
  }

  @media (max-width: 800px) {
    width: 100%;
    text-align: right;
  }
}

.projectsContainer {
  width: 100%;
  max-width: 70em;

  display: grid;
  grid-template-columns: repeat(auto-fill, 20em); /* card width */
  gap: 1.5em;

  justify-content: center; /* centers the grid block */
  margin: 0 auto;

  @media (min-width: 1400px) {
    grid-template-columns: repeat(4, 1fr);
  }

  @media (min-width: 2000px) {
    grid-template-columns: repeat(5, 1fr);
  }

  @media (min-width: 2800px) {
    grid-template-columns: repeat(6, 1fr);
  }
}
