.container {
  width: 100%;
  min-height: var(--content-min-height);
  background-color: var(--color-background-secondary);

  display: flex;
  flex-direction: column;
  gap: 2em;

  padding: 4em 0em;
}

.titleContainer {
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;

  padding: 0 2em;
}

.titleContainer > h2 {
  font-size: 2em;
  font-weight: bold;
}

.titleContainer > a {
  font-size: 1em;
  font-weight: bold;
  color: var(--color-accent);
  text-decoration: none;

  position: relative;
  transition: color 0.3s ease;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 2px;
    background-color: var(--color-primary);
    transition: width 0.3s ease;
  }

  &:hover {
    color: var(--color-primary);

    &::after {
      width: 100%;
    }
  }
}

.experiencesContainer {
  display: flex;
  flex-direction: column;
}
