.container {
  width: 100%;
  min-height: var(--content-min-height);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  position: relative;
  overflow: hidden;
}

.gradient {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  pointer-events: none;

  background:
    radial-gradient(
      500px 350px at 35% 40%,
      rgba(25, 129, 234, 0.16),
      transparent 70%
    ),
    radial-gradient(
      800px 600px at 60% 60%,
      rgba(25, 129, 234, 0.08),
      transparent 75%
    );

  z-index: 0;

  @media (max-width: 800px) {
    display: none;
  }
}

.content {
  width: 100%;
  max-width: 40em;

  display: flex;
  flex-direction: column;
  gap: 0.5em;

  margin: 1em auto 2em 2em;
  //   margin-right: auto;
  //   margin-left: 2em;

  p {
    font-size: 0.75em;
    color: var(--color-accent);
    font-weight: bold;
  }

  h2 {
    font-size: 3em;
    font-weight: bold;
    line-height: 1em;
  }

  h1 {
    font-size: 5em;
    font-weight: bold;
    color: var(--color-text-secondary);
    line-height: 1em;
  }

  @media (max-width: 800px) {
    height: 100%;
    margin: auto 2em;
    padding: 0 2em;
  }
}

.smallDescriptionContainer {
  margin: 1em 0;

  p {
    font-size: 0.75em;
    color: var(--color-text-secondary);
  }
}

.buttonsContainer {
  button {
    font-size: 1em;
    font-weight: bold;
    border: none;
    padding: 0.75em 1.5em;
    border-radius: 5px;
    cursor: pointer;

    transition: background-color 0.3s ease;
  }

  .primaryButton {
    color: var(--color-text);
    background-color: var(--color-primary);

    &:hover {
      background-color: var(--color-accent);
      color: var(--color-text);
    }
  }

  .secondaryButton {
    color: var(--color-text);
    background-color: var(--color-secondary);
    margin-left: 1em;

    &:hover {
      background-color: var(--color-accent);
      color: var(--color-text);
    }
  }

  @media (max-width: 800px) {
    flex-direction: column;

    button {
      width: 100%;
    }

    .secondaryButton {
      margin-left: 0;
      margin-top: 1em;
    }
  }
}

.techStackContainer {
  width: 100%;
  background-color: var(--color-background-secondary);
  color: var(--color-text-secondary);

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1.5em;
  padding: 1em 0;

  p {
    font-size: 0.75em;
  }
}
