@import url("https://fonts.googleapis.com/css2?family=Alexandria:wght@100..900&family=Leckerli+One&display=swap");

:root {
  --accent-color: #9c8dd0;
  --text-color: #f6f8fa;
  --bg-color: #2b2b2b;
  --bg-dark-color: #222222;
  --bg-light-color: #3f424a;

  --text-font: "Alexandria", sans-serif;
  --emphasis-font: "Leckerli One", cursive;

  --shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);

  --side-padding: 2em;
  --header-height: 4em;
}

body {
  font-family: var(--text-font);
  margin: 0;
  padding: 0;

  color: var(--text-color);
  background-color: var(--bg-color);

  @media (min-width: 1400px) {
    font-size: 1.2vw;
  }
}

* {
  box-sizing: border-box;
}
