.container {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border: none;
  background-color: var(--bg-button);
  color: var(--text-color);
  border-radius: 5em;

  font-family: var(--text-font);
  padding: 0.5em 0;

  span {
    font-size: 1.25em;
  }

  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;

  &:hover {
    background-color: var(--accent-color);
    color: var(--bg-color);
  }
}
