.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;

  margin: 2em 0;
  height: calc(100svh - var(--header-height) - 4em);
  width: 100%;
}

.textsContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1em;
}

.imageContainer {
  position: absolute;
  right: 0;
  top: 8em;

  picture {
    img {
      width: 100%;
      max-width: 35em;
      height: auto;
    }
  }

  @media (max-width: 1180px) {
    font-size: 0.8em;
    top: 25svh;
  }

  @media (max-width: 950px) {
    top: 40svh;
  }

  @media (max-width: 768px) {
    top: 30svh;
  }
}
