.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;

  margin-top: 2em;
  height: calc(100svh - var(--header-height) - 4em);
  width: 100%;

  padding: 0 var(--side-padding);
}

.textsContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1em;
}

.imageContainer {
  position: absolute;
  right: 0;
  top: 12em;

  img {
    width: 100%;
    max-width: 35em;
    height: auto;
  }

  @media (max-width: 1180px) {
    font-size: 0.8em;
    top: 35svh;
  }

  @media (max-width: 950px) {
    top: 45svh;
  }

  @media (max-width: 768px) {
    top: 35svh;
  }
}
