.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4em;

  padding: var(--side-padding);
  margin-top: 2em;
  border-top: 1px solid #b1b1b1;
  background-color: var(--bg-dark-color);
  color: var(--text-color);
}

.contact {
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 2em;
  flex-wrap: wrap;
}

.contactText {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.questionaire {
  width: 100%;
  position: relative;
  overflow: hidden;

  display: grid;
  gap: 1.25em;
}

.qaItem::before {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background: #ccc;
  position: absolute;
}

.question,
.answer {
  font-size: 0.75em;
  color: #ccc;
}
