.container {
  position: relative;

  display: flex;
  flex-direction: column;
  gap: 4em;
}

.content {
  padding: 0 var(--side-padding);
}

.projectsContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  @media (max-width: 1200px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 600px) {
    grid-template-columns: repeat(1, 1fr);
  }

  padding: 0 4em;
  gap: 2em;
  margin: 0 2em;
}
