.container {
  position: relative;

  display: flex;
  flex-direction: column;
  gap: 4em;
}

.content {
  padding: 0 var(--side-padding);
}

.projectsContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2em;
  margin: 0 2em;
}
